.user_item {
    margin: 10px 10px;
    background-color: #f6eca5;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.user_item button {
    display: block;
}